{% extends 'partials/base.html' %}
{% block title %}Issued items Page{% endblock %}
{% block content %}
{% include 'partials/topnav.html'%}
{% load crispy_forms_tags %}
<!--Table-->
<div class="container-fluid bg-light">
    <div class="row my-6">
        <div class="col-md-4">
            <div class="light"> 
                <div class="card-header bg-info text-white p-6 m-7 text-center mt-7">
                    REMINDER EMAIL
                </div>
                <form method="POST">

                   {% csrf_token %}
                    {{ emailform|crispy }}
                   
                    <center><button class="btn btn-info mt-4 px text-center type="submit">Send</button></center><br>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Issued to</th>
                        <th scope="col">Issued on</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in items %}
                    <tr>
                        <td>{{ items.product.name }}</td>
                        <td>{{ items.product.category }}</td>
                        <td>{{ items.issueditem_quantity }}</td>
                        <td>
                            {{ items.staff.username }}
                        </td>
                        <td>
                            {{ items.date }}
                        </td>
                        <td>{{ items.location }}</td>
                        <td>
                              {{ items.status }} 
                        </td>
                        <td>
                        <a href="{% url 'item_review' items.id %}">Review</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->

{% endblock %}