{% extends 'partials/base.html' %}
{% block title %} Employee page{% endblock %}
{% block content %}
{% include 'partials/topnav.html'%}
{% load crispy_forms_tags %}
 <!--Table-->
 <div class="container-fluid bg-light">
    <div class="row my-8">
        <div class="col-md-4">
            <div class="light"> 
                <div class="card-header bg-info text-white p-6 m-7 text-center mt-7">
                    REMINDER EMAIL
                </div>
                <form method="POST">

                   {% csrf_token %}
                    {{ emailform|crispy }}
                   
                    <center><button class="btn btn-info mt-4 px text-center type="submit">Send</button></center><br>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact no.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for worker in workers %}
                    <tr>
                        <th scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboardstaffdetail' worker.id %}">View</a></th>
                        <td>{{ worker.username }}</td>
                        <td>{{ worker.email }}</td>
                        <td>{{ worker.profile.phone }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}